"*":
  editor:
    invisibles: {}
    showIndentGuide: true
    zoomFontWhenCtrlScrolling: true
    softWrap: true
  core:
    followSymlinks: false
    projectHome: "/Users/forsginer/repos"
    disabledPackages: [
      "emmet"
      "symbols-view"
    ]
    excludeVcsIgnoredPaths: false
    audioBeep: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      ".sass-cache"
      "Thumbs.db"
      "node_modules"
      "bower_components"
    ]
  "exception-reporting":
    userId: "965f6697-e5db-90fb-04d3-99686e15f6d2"
  "release-notes":
    viewedVersion: "0.60.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "51662735655162b544370d7edae7153b0177101b"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "save-session":
    dataSaveFolder: "/Users/forsigner/.atom/packages/save-session/projects"
  react: {}
  preview:
    _analyticsUserId: "84d44b4b-b8aa-4ff4-99fd-e8dace59ddc2"
  "atom-beautify":
    _analyticsUserId: "56d5033f-aafa-4100-91e8-e4275f4c177c"
  "disable-keybindings":
    allBundledPackages: true
    exceptBundledPackages: [
      "vim-mode"
    ]
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "symbols-tree-view":
    autoToggle: true
